<div class="banner" id="home">
    <!-- start search-->
    <div class="search-box">
        <div id="sb-search" class="sb-search">
            <form>
                <input class="sb-search-input" placeholder="Enter your search term..." type="search" name="search" id="search">
                <input class="sb-search-submit" type="submit" value="">
                <span class="sb-icon-search"> </span>
            </form>
        </div>
    </div>
    <!----search-scripts---->
    <script src="js/classie.js"></script>
    <script src="js/uisearch.js"></script>
    <script>
        new UISearch( document.getElementById( 'sb-search' ) );
    </script>
    <!----//search-scripts---->
    <div class="container">
        <div class="banner-info">
            <h1>Team <br>Gear</h1>
            <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh <br>euismod tincidunt ut . </p>
            <h2>Call Us  1.800.123.4568</h2>
        </div>
        <div class="clearfix"></div>
    </div>
    <div class="header_bottom">
        <div class="container">
            <div class="logo">
                <a href="index"><img src="images/logo.png" alt=""></a>
            </div>
            <div class="menu">
                <ul>
                    <li class="current"><a href="product">Shop by Product</a></li>
                    <li><a href="product">Shop by Sport</a></li>
                </ul>
            </div>
            <div class="cart">
                <div class="cssmenu">
                    <ul>
                        <li class="active"><a href="#">Account</a></li> |
                        <li><a href="checkout">Wishlist</a></li> |
                        <li><a href="checkout">Checkout</a></li> |
                        <li><a href="login">Log In</a></li> |
                        <li><a href="register">Sign Up</a></li>
                    </ul>
                </div>
                <ul class="icon2 sub-icon2">
                    <li><a class="active-icon c2" href="#">Shopping Cart: &nbsp;0 item(s)  &nbsp;&nbsp;$0.00</a>
                        <ul class="sub-icon2 list">
                            <li><p>Shopping cart is empty</p></li>
                        </ul>
                    </li>
                </ul>
                <div class="clearfix"></div>
            </div>
            <div class="clearfix"></div>
        </div>
    </div>
</div>