<!DOCTYPE HTML>
<html>
<head>
<title>Checkout</title>
<link href="css/bootstrap.css" rel='stylesheet' type='text/css' />
<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
<script src="js/jquery-1.11.1.min.js"></script>
<!-- Custom Theme files -->
<link href="css/style.css" rel='stylesheet' type='text/css' />
<!-- Custom Theme files -->
<meta name="viewport" content="width=device-width, initial-scale=1">
<script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false); function hideURLbar(){ window.scrollTo(0,1); } </script>
<!--webfont-->
</head>
<body>
<%include banner.html%>
<div class="main">
   <div class="container">
  	 <div class="register">
  	   <h4 class="title">Shopping cart is empty</h4>
	   <p class="check">You have no items in your shopping cart.<br>Click<a href="index"> here</a> to continue shopping</p>
	 </div>
	</div>
  </div>
<%include bottom.html%>
        </div>

</body>
</html>		