<!DOCTYPE HTML>
<html>
<head>
<title>Login</title>
<link href="css/bootstrap.css" rel='stylesheet' type='text/css' />
<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
<script src="js/jquery-1.11.1.min.js"></script>
<!-- Custom Theme files -->
<link href="css/style.css" rel='stylesheet' type='text/css' />
<!-- Custom Theme files -->
<meta name="viewport" content="width=device-width, initial-scale=1">
<script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false); function hideURLbar(){ window.scrollTo(0,1); } </script>
<!--webfont-->
</head>
<body>
<%include banner.html%>
<div class="main">
  <div class="product_wrapper">
  	<div class="container">
  		<div class="dreamcrub">
			   	 <ul class="breadcrumbs">
                    <li class="home">
                       <a href="index" title="Go to Home Page">Home</a>&nbsp;&nbsp;
                       <span>&gt;</span>
                    </li>
                    <li class="home">&nbsp;
                        Account&nbsp;&nbsp;
                          <span>&gt;</span>
                    </li>
                    <li class="home">&nbsp;
                        Login&nbsp;
                    </li>
                </ul>
        </div>
		<div class="row">
			<div class="col-md-3 single_left">
			   <link href="css/default.css" rel="stylesheet" type="text/css" media="all" />
	             <link href="css/nivo-slider.css" rel="stylesheet" type="text/css" media="all" />
				  <script src="js/jquery.nivo.slider.js"></script>
				    <script type="text/javascript">
				    $(window).load(function() {
				        $('#slider').nivoSlider();
				    });
				    </script>
		      <div class="slider-wrapper theme-default">
	              <div id="slider" class="nivoSlider">
	                <img src="images/s1.jpg"  alt="" />
	               	<img src="images/s2.jpg"  alt="" />
	                <img src="images/s3.jpg"  alt="" />
	              </div>
			  </div>
			  <div class="tags">
				    	<h4 class="tag_head">Popular Tags</h4>
				         <ul class="tags_links">
							<li><a href="#">Kitesurf</a></li>
							<li><a href="#">Super</a></li>
							<li><a href="#">Duper</a></li>
							<li><a href="#">Theme</a></li>
							<li><a href="#">Men</a></li>
							<li><a href="#">Women</a></li>
							<li><a href="#">Equipment</a></li>
							<li><a href="#">Best</a></li>
							<li><a href="#">Accessories</a></li>
							<li><a href="#">Men</a></li>
							<li><a href="#">Apparel</a></li>
							<li><a href="#">Super</a></li>
							<li><a href="#">Duper</a></li>
							<li><a href="#">Theme</a></li>
							<li><a href="#">Responsiv</a></li>
					        <li><a href="#">Women</a></li>
							<li><a href="#">Equipment</a></li>
						</ul>
						<a href="#" class="link1">View all tags</a>
				 </div>
		   </div>
		   <div class="col-md-9">
		   	<div class="account_grid">
			   <div class="col-md-6 login-left">
			  	 <h3>New Customers</h3>
				 <p>By creating an account with our store, you will be able to move through the checkout process faster, store multiple shipping addresses, view and track your orders in your account and more.</p>
				 <a class="acount-btn" href="register">Create an Account</a>
			   </div>
			   <div class="col-md-6 login-right">
			  	<h3>Registered Customers</h3>
				<p>If you have an account with us, please log in.</p>

				  <div>
					<span>Email Address<label>*</label></span>
					<input id="emailAddress" name="emailAddress" type="text">
				  </div>
				  <div>
					<span>Password<label>*</label></span>
					<input id="passWord" name="password" type="text">
				  </div>
				  <a class="forgot" href="#">Forgot Your Password?</a>
				  <input type="submit" onclick='login()' value="Login">

			   </div>
				<script>
					function login(){
						var emailAddress=document.getElementById('emailAddress');
						var passWord=document.getElementById('passWord');

						//var infor="emailAddress="+emailAddress.value+"&&passWord="+passWord.value;
						//1,ajax提交数据
						//var ajax=new XMLHttpRequest();
						//ajax.onreadystatechange=function(){
						//	if(ajax.readyState==4&&ajax.status==200){
								//alert(ajax.responseText);
						//	}
						//}
						//2,设置打开连接的信息
						//ajax.open('get','login?'+infor,true);
						//ajax.send();

						$.ajax({
							url:'login',
							type:'POST',
							data:{
								emailAddress:emailAddress.value,
								passWord:passWord.value
							},
							traditional:true,//这里设置为true
							success:function(data){
								console.log(data);
								alert(data);
							}
						});
					}
				</script>
			   <div class="clearfix"> </div>
			 </div>
		   </div>
		</div>
	 </div>
   </div>
  </div>
<%include bottom.html%>
</div>

</body>
</html>		